@{
    ViewData["Title"] = "Privacy";
}
<div class="container mainBackground">
    <script type="text/javascript">
        $.get('https://ipapi.co/ip/', function(data){
            console.log(data)
        })    
</script>
</div>
