bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/jamesethanduke.deps.json
bin/Debug/netcoreapp3.1/jamesethanduke.dll
bin/Debug/netcoreapp3.1/jamesethanduke.pdb
bin/Debug/netcoreapp3.1/jamesethanduke.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/jamesethanduke.runtimeconfig.json
bin/Debug/netcoreapp3.1/jamesethanduke.Views.dll
bin/Debug/netcoreapp3.1/jamesethanduke.Views.pdb
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
obj/Debug/netcoreapp3.1/jamesethanduke.csproj.CopyComplete
obj/Debug/netcoreapp3.1/jamesethanduke.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/jamesethanduke.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/jamesethanduke.dll
obj/Debug/netcoreapp3.1/jamesethanduke.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/jamesethanduke.pdb
obj/Debug/netcoreapp3.1/jamesethanduke.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/jamesethanduke.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/jamesethanduke.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/jamesethanduke.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/jamesethanduke.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/jamesethanduke.Views.dll
obj/Debug/netcoreapp3.1/jamesethanduke.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/About/About.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/About/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/About/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/staticwebassets/jamesethanduke.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/jamesethanduke.StaticWebAssets.xml
obj/Debug/netcoreapp3.1/jamesethanduke.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/jamesethanduke.Views.dll
