@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <h5>Traits</h3>
    <ul> 
        <li>Fit</li>
        <li>Smart</li>
        <li>Strong</li>
    </ul>

    <h5>Characteristics</h5>
    <ul>
        <li>Cool</li>
        <li>Calm</li>
        <li>Collected</li>
    </ul>

    <h5>Achievements</h5>
    <ul>
        <li>Education</li>
        <li>Adulthood</li>
        <li>Marriage</li>
        <li>Landowner</li>
    </ul>

    <h5>Goals</h5>
    <ul>
        <li>Create</li>
        <li>Survive</li>
        <li>Thrive</li>
    </ul>
</div>

