@{
    ViewData["Title"] = "Notes";
}

<div class="container"> 
    <h3>@ViewData["Title"]</h3>
    <br/>
    <h5>If you're gonna be a bear, be a grizzly.</h3>
    <br/>
    <h5>If they ain't seen one by now, it's high time.</h5>
    <br/>
    <h5>If you're not living on the edge, you're taking up too much space.</h5>
    <br/>
    <h5>I don't want to die, I just want to be dead.</h5>
    <br/>
    <h5>Ed Zackary's disease is when your face looks edzackary like your ass.</h5>
    <br/>
    <h5>Give the people what they want.</h5>
    <br/>
</div>